@model List<UsKirtasiye.DB.Products>

@foreach (var prop in Model)
{
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">

            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb"> <ol class="breadcrumb mt-50"></ol></nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(@prop.Photo);">
                                </li>
                                <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url(@prop.Photo);">
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="img/product-img/pro-big-1.jpg">
                                        <img class="d-block w-100" src="@prop.Photo" alt="First slide">
                                    </a>
                                </div>
                                <div class="carousel-item">
                                    <a class="gallery_img" href="img/product-img/pro-big-2.jpg">
                                        <img class="d-block w-100" src="@prop.Photo" alt="Second slide">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price" style="font-size:xx-large">₺ @prop.Price</p>
                            <a href="#">
                                <h6>@prop.Name</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                            </div>
                            <!-- Avaiable -->
                            <p class="avaibility"><i class="fa fa-circle"></i> Stoklarda Mevcut</p>
                        </div>

                        <div class="short_overview my-5">
                            <p>@prop.Description</p>
                        </div>

                        <!-- Add to Cart Form -->
                        <form class="cart clearfix">
                            <a href="~/Product_Detail/AddBasket/@prop.Id" name="addtocart" value="5" class="btn amado-btn">Sepete Ekle</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}