@{
    /**/

    ViewBag.Title = "Register";
}

<div class="single-product-area section-padding-100 ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm("KayıtAl", "Register"))
                {

                    <div class="container">
                        <div class="card" style="background-image:url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-gold-gold-low-profile-background-material-low-profilebackground-materialconference-image_69763.jpg)">
                            <article class="card-body mx-auto" style="max-width: 400px;">
                                <h4 class="card-title mt-3 text-center"><b><span style="font-weight:bold" class="fa fa-registered"></span> Kayıt Ol</b></h4>
                                <p class="text-center">Ücretsiz bir şekilde hemen kayıt ol</p>
                                <p class="text-center" style="color:red">@TempData["Kullanıcı"]</p>
                                <p class="text-center" style="color:green">@TempData["Logine"]</p>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                    </div>
                                    @Html.TextBox("Name", "", new { @class = "form-control", placeholder = "Adı", type = "text", required = "required" })
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-user-circle"></i> </span>
                                    </div>
                                    @Html.TextBox("Surname", "", new { @class = "form-control", placeholder = "Soyadı", type = "text", required = "required" })
                                </div>
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                                    </div>
                                    @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "E-Mail", type = "email", required = "required" })
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                                    </div>
                                    <select style="max-width: 120px;">
                                        <option selected="">+90</option>
                                    </select>
                                    @Html.TextBox("PhoneNumber", "", new { @class = "form-control", placeholder = "Telefon ", type = "number", required = "required" })
                                </div> <!-- form-group// -->
                                <div class="form-group input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                    </div>
                                    @Html.TextBox("Password", "", new { @class = "form-control", type = "password", placeholder = "Şifre", required = "required" })
                                </div> <!-- form-group// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-secondary btn-block"> Kayıt Ol </button>
                                </div> <!-- form-group// -->
                                <p class="text-center">Zaten kayıtlı mısın ? <a href="@Url.Action("Login","Login")" style="font-size:small;font-weight:bold">Giriş Yap</a> </p>
                            </article>
                        </div> <!-- card.// -->
                    </div>
                    <!--container end.//-->
                }
            </div>
        </div>
        <br />
        <br />
        @Html.Partial("lastnine", (List<UsKirtasiye.DB.Products>)ViewBag.lastPro)
    </div>
</div>